@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;0,900;1,367;1,800&family=Space+Grotesk:wght@300;400;700&display=swap');
*
{
  margin: 0;
  padding: 0;
}
html {
  overflow-x:hidden;
}
body {
  width: 100vw;
  height: 100vh;
  background: hsla(60, 7%, 73%, 1);
  height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
}
footer {
  width: 100vw;
  max-height: 5vh;
  bottom: 5%;
  left: 0%;
  position: absolute;
}
a {
 font-family: 'Space Grotesk', sans-serif;
 font-weight: 700;
 text-decoration: none;
 color: #000;
}
/*==============================>> NAVBAR */
.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    padding:  0.5em;
}
.navbar-links {
    height: 100%;

}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color:hsla(0, 4%, 76%, 0.5);
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5), inset 0px 0.2px 0.2px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    border-radius: 104px;
}

.navbar-links li a {
    display: block;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: hsla(0, 0%, 0%, 1)
;
    padding: 0.5rem;
}

.navbar-links li:hover {
    background-color:#B1DE65;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}
/*==============================>> BUTTON CODROPS */

.button {
    pointer-events: auto;
    cursor: pointer;
    background-color:hsla(98, 42%, 54%, 1);
    border-radius: 104px;
    padding: 1.5rem 3rem;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    display: inline-block;
}

.button::before,
.button::after {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 100%;
}
.button--helene {
    position: absolute;
    bottom:60%;
    left:42%;
}

.button--helene {
    border-radius: 7px;
    border: 4px solid hsla(98, 42%, 54%, 1);
    font-style: normal;
    font-size: 1.5rem;
    padding: 0 3rem;
    height: 4rem;
}

.button--helene::before {
    content: '';
    top: 24px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: rgba(255,255,255,1);
    filter: blur(7px);
    border-radius: 56px;
    z-index: -1;
    transform: translate3d(0,15px,0);
    transition: transform 0.45s;
}

.button--helene:hover::before {
    transform: translate3d(0,0,0);
}

.button--helene span {
    display: block;
}

.button--helene > span {
    height: 100%;
    overflow: hidden;
    line-height: 4rem;
}

.button--helene:hover > span > span {
    animation: slotMachine 0.15s ease-out forwards 3;
}

@keyframes slotMachine {
    50% {
        transform: translate3d(0,100%,0);
        opacity: 0;
    }
    51% {
        transform: translate3d(0,-100%,0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

/*==============================>> MARQUEEs */
.marquee {
   overflow-x: hidden;
   background-color:hsla(0, 4%, 76%, 0.5);
   box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5), inset 0px 0.2px 0.2px rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(16px);
   font-family: 'Space Grotesk', sans-serif;
   font-weight: 700;
   text-decoration: none;
   color: #ffffff;
}

.marquee--long {
   position: absolute;
   top: 20%;
   margin: 2rem 0;
   font-size: 6.25vw;
   background-color:hsla(98, 42%, 54%, 1);
   z-index:  -2;
}
.arriba {
    overflow-x: hidden;
    position: absolute;
    top: 70%;
    font-size: 3.25vw;
    background-color:hsla(0, 4%, 76%, 0.6);
    z-index:  1;
}
.marquee--social {
overflow-x: hidden;
   margin-bottom: 0.5vh;
   padding: 0.5rem;
   font-size: 2.25vw;
   background-color:hsla(0, 0%, 100%, 0.01);
}

.marquee span{   
    display: inline-block;
    white-space: nowrap;
    color: #00112C;
    width: var(--tw);
    text-shadow: var(--tw) 0 currentColor, 
                 calc(var(--tw) * 2) 0 currentColor, 
                 calc(var(--tw) * 3) 0 currentColor,
                 calc(var(--tw) * 4) 0 currentColor,
                 calc(var(--tw) * 5) 0 currentColor;
   
    will-change: transform;
    animation: marquee var(--ad) linear infinite;
    animation-play-state: running;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
/*  
 * on MacOs: System Preferences > 
 *           Accessibility > 
 *           Display > Reduce motion
 */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation: none;
    text-shadow: none;
    width: auto;
    display: block;
    line-height: 1.5;
    text-align: center;
    white-space: normal;
  }
}

/*==============================>>  */
/*==============================>> ANIMATIONS */

iframe {
    position: absolute;
    z-index: -1;
}


/*==============================>> MEDIA_QUERIES */

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


