*
{
    margin: 0;
    padding: 0;
}

html, body
{
    background: #2E113F;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.wrapper {
  min-height: 50vh;
  font-family: 'Space Grotesk', serif;
  font-weight: 600;
  color: rgba(185, 23, 204, 1);
  position: relative; 
}

section {
  height: 100vh;
  font-size: 100px;
  font-weight: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav 
  &__wrapper {
    position: fixed;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    z-index: 100000;
  }

  & {
    margin: 0 0 10px 10px; 
  }
  &__counter {
    font-size: 148px;
    transition: all 0.85s ease-out;
  }
  &__title {
    font-size: 160px;
    font-weight: 600;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  &__body {
    font-weight: 100;
    font-size: 32px;
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }

  li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 01em;
    }
    &:after {
      content: '';
      display: block;
      border-left: 2px solid white;
      border-top: 2px solid white;
      height: 250px;
      width: 20px;
      position: absolute;
      left: -30px;
      top: 15px;
    }

    a {
      display: block;
      padding: 5px 0;
      color: #B917CC;
      transition: all 0.15s ease-out;
      }
      &:hover {
        background-color: rgba(185, 23, 204, 0.1);
        padding-left: 1em
      }
      &:focus {
        background-color: rgba(185, 23, 204, 0.1);
    }
    &.active {
      pointer-events: none;
      padding-left: 1em;
      }
      &:after {
        width: 35px;
        height: 400px;
        top: 35px;
      }

      .nav__counter {
        font-size: 100px;
        font-weight: 600;
        color: whitesmoke;

      }
      .nav__title {
        font-size: 80px;
        font-weight: 600;
        opacity: 1;
        overflow: visible;
      }
      .nav__body {
        height: 100px;
        opacity: 1;
        overflow: visible;
      }
      



