@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;0,900;1,367;1,800&family=Space+Grotesk:wght@300;400;700&display=swap');
*
{
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll; 
  overflow-x:hidden;
}
body {
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;

}
/*==============================>> NAVBAR */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

/* .brand-title {
    font-size: 1.5rem;
    margin: .5rem;
} */

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #f000000;
    border-radius: 10px;
}
/*==============================>> MARQUEEs */
.marquee {
    position: relative;
    overflow: hidden;
    --offset: 1vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
    width: 100vw;
    display-flex:  nowrap;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
    animation-play-state: paused;
}

.marquee span {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    padding: 0 2vw;
}

.marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

marquee-2 {
    position: relative;
    overflow: hidden;
    --offset: 1vw;
    --move-initial: calc(-0% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}
.marquee__inner {
    width: 100vw;
    display-flex:  nowrap;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
    animation-play-state: paused;
/*==============================>>  */
/*==============================>> MEDIA_QUERIES */

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.main {
  display: flex;
  align-self: center;
  margin: 0.5%;
  border: 4px dotted #000000;
  border-radius: 24px;  
  overflow: hidden;
}
.container-frame {
  display: flex;
  flex-flow: row-reverse wrap;
  width:  96vw;
  height: 96vh;
  border: 2px dotted #f000000;

  border-radius: 24px;
  overflow: hidden;
} 
.cont-section {
  display: flex;
  flex-flow: row wrap;
  width:  100vw;
  max.height: 25vh;
  overflow: hidden;
}
+
section {
  display:flex;
  flex-flow: row wrap;
}
footer {
  display:flex;
  flex-flow: row nowrap;
}

h3 {
font-family: 'Space Grotesk', sans-serif;
font-size: 60px;
font-weight: 700;
letter-spacing: -0.01em;
line-height: 60px;
color: #000000;
}
.row {
display: flex;
flex-direction: row;
max-height: auto;
padding-top: 1rem;
padding-bottom: 1rem;
border-bottom: 0.5px solid #f7f7f7;
overflow: hidden;
}

.title {
font-family: 'Exo 2', sans-serif;
font-style: italic;
font-weight: 500;
text-wrap: true;
font-size: 96px;
letter-spacing: -0.01em;
line-height: 60px;
color: #FFFFFF;
text-align: left;
top: 50%;
}
a.button {
  flex: auto;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: light 300;
  font-size: 32px;
  text-decoration: none;
  margin: 0 8px 0 8px;
  padding: 1rem;
  border: 1px solid #000000;
  border-radius: 64px;
  position: relative;
  overflow:hidden;
  <animation: 2s;
  }
a.button:hover {
  background-color: #000000;
  transition: ease-in-out;
}
/*ANIMATIONS*/
@keyframes ellipsesRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


